extends /src/includes/layout.jade

include /src/includes/post.jade

block head
	if indexType === 'main'
		title Blog - pump.io
	else if indexType === 'year'
		title #{year} - pump.io blog
	else if indexType === 'month'
		- var monthName = new Date(1970, month).toLocaleString('en-us', {month: 'long'});
		title #{monthName + ' ' + year} - pump.io blog
	else if indexType === 'category'
		title "#{category}" category - pump.io blog
	// TODO: apparently this technically isn't allowed to be relative but it seems to work fine, soooo...
	link(rel='alternate', type='application/rss+xml', href='index.rss')

block content
	.h-feed
		if indexType === 'main'
			h2.p-name Blog
			p#postsFrom Show only 
				each year in includedYears
					a(href='/blog/' + year + '/')= year
					| 
		else if indexType === 'year'
			h2.p-name Posts from #{year}
			p#postsFrom Show only 
				each month in includedMonths
					- var monthName = new Date(1970, month).toLocaleString('en-us', {month: 'long'});
					- var monthStr = month + 1;
					- monthStr = monthStr < 10 ? '0' + monthStr.toString() : monthStr.toString();
					a(href='/blog/' + year + '/' + monthStr + '/')= monthName
					| 
		else if indexType === 'month'
			- var monthName = new Date(1970, month).toLocaleString('en-us', {month: 'long'});
			h2.p-name Posts from #{monthName + ' ' + year}
		else if indexType === 'category'
			h2.p-name Posts categorized as "#{category}"

		each post, index in posts
			+renderPost(post, true)

			if index < posts.length - 1
				hr
